{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  3.定义链接,必须要使用href="{{ "/assets/css/style.css" | relative_url }}"这样子的格式,才能省略baseurl
{% endcomment %}

{% comment %} 网站兼容性脚本Modernizr {% endcomment %}
<script src="{{"/assets/js/modernizr.custom.js" | relative_url }}"></script>

{% comment %} 下拉菜单的css样式 {% endcomment %}
<link rel="stylesheet" type="text/css" href="{{"/assets/css/component.css" | relative_url }}" />

{% comment %} 丝线聚合特效脚本 {% endcomment %}
<script type="text/javascript" src="{{ "/assets/js/sx.js" | prepend: site.baseurl }}"></script>